    
    <footer>
        <div id="copyright">
            Copyright © LGAQ 2019
        </div>

        <div id="totop">
            <button id="btn_totop">
                Back To Top
                <i class="fas fa-arrow-up"></i>
            </button>
        </div>
    </footer>