    
<header>
    <div class="content-width ">
        <div id="logo">
            Identity
        </div>

        <nav id="main_menu" class="menu">
            <a href="" class="menu__item">HOME</a>
            <a href="" class="menu__item">ABOUT</a>
            <a href="" class="menu__item">SERVICES</a>
            <a href="" class="menu__item">BLOG</a>
            <a href="" class="menu__item">CONTACT</a>
        </nav>
    </div>
</header>
